{% for stat in stats %}
    <tr>
    <td>{{ stat.match.time | date("d/m/Y H:i", "Europe/Paris") }}</td>
    <td>{{ stat.match.homeTeam.name }} - {{ stat.match.awayTeam.name }}</td>
    <td>{{ stat.goalsScored }}</td>
        <td>{{ stat.minsPlayed }}'</td></tr>
{% else %}
    <tr>
        <td>No results</td>
    </tr>
{% endfor %}